<template>
  <div class="registration-window">
    <h2>Registration</h2>
    <div class="field">
      <label for="Name">Name</label><br>
    <input name="Name" v-model="name"><br>
      <span class="error" v-if="validateName">Your name is required to have 3 - 26 characters.</span>
    </div>
    <div class="field">
      <label for="E-Mail">E-Mail</label><br>
      <input name="E-Mail" v-model="email"><br>
      <span class="error" v-if="validateEmail">This is not a valid E-Mail address</span>
    </div>
    <div class="field">
      <label for="Password">Password</label><br>
      <input name="Password" v-model="password"><br>
      <span class="error" v-if="validatePassword">Your name is required to have 8 - 26 characters.</span>
    </div>
    <div class="field">
      <span class="error" v-if="state=='submitFailed'">{{submitError}}</span>
      <div v-on:click="submit()" id="submit-button">
        Submit
      </div>
      <span class="success-message" v-if="state=='submitSuccess'">{{successMessage}}</span>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { store } from '../store';

export default {
  data: function(){
    return {
      name: "",
      email: "",
      password: "",
      submitError: "",
      successMessage: "User submitted successfully",
      state: "noSubmit"
    }
  },
  store,
  methods:{
    submit: function(){
      if(this.submitReady){
        let user = {
          name: this.name,
          email: this.email,
          password: this.password
        }
        axios.post('http://localhost:8000/users/create', user)
        .then( (response) => {
          this.name = "";
          this.email = "";
          this.password = "";
          this.submitError = "";
          this.state = "submitSuccess";
          this.$store.commit('registrationChange', this.state);
          console.log(response);
        })
        .catch( (error) => {
          this.state = "submitFailed";
          this.$store.commit('registrationChange', this.state);
          if(error.message == "Network Error"){
            this.submitError = "Oops. Backend seems to be not running.";
          } else if (error.message == "Request failed with status code 400"){
            this.submitError = "Oops. Backend seems to be unable to connect to MLAB";
          }
          console.log(error.message);
        });
      } else {
        this.state = "submitFailed";
        this.$store.commit('registrationChange', this.state);
        this.submitError = "Please check your data.";
      }
    }
  },
  computed:{
    validatePassword: function(){
      return !(this.password.length > 7 && this.password.length < 27)  && this.password != "";
    },
    validateName: function(){
      return !(this.name.length > 2 && this.name.length < 27) && this.name != "";
    },
    validateEmail: function(){
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return !re.test(String(this.email).toLowerCase()) && this.email != "";
    },
    submitReady: function(){
      return !(this.validatePassword && this.validateName && this.validateEmail)
              && (this.name != "" && this.password != "" && this.email != "");
    }
  }
};
</script>

<style scoped lang="scss">
$material-shadow-1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$material-shadow-2: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
label{
  margin-top:5px;
  margin-bottom:5px;
}
input{
  padding:10px;
}
.field{
  margin-bottom:15px;
}
#submit-button{
  margin-top: 10px;
  margin-bottom: 15px;
  color:white;
  padding: 10px;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: 0.3s all ease;
  cursor:pointer;
}
#submit-button:hover{
  box-shadow: $material-shadow-2;
}
.success-message{
  color:green;
}
</style>
