<template>
  <div class="userlist-window">
    <h2>Userlist</h2>
    <div v-for="user in users" class="user-card">
      <strong>{{user.name}}</strong><br>
      <strong>E-Mail:</strong>{{user.email}}<br>
      <strong>Password:</strong>{{user.password}}
    </div>
    {{fetchError}}
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data: function(){
    return {
      users: [],
      fetchError: ""
    }
  },
  mounted: function(){
    this.fetchData();
  },
  methods:{
    fetchData: function(){
      axios.get('http://localhost:8000/users/getAll')
      .then( (response) => {
          this.users = response.data;
          console.log("Users fetched successfully");
        })
        .catch( (error) => {
          if(error.message == "Network Error"){
            this.fetchError = "Oops. Backend seems to be not running.";
          } else if (error.message == "Request failed with status code 400"){
            this.fetchError = "Oops. Backend seems to be unable to connect to MLAB";
          }
          console.log(error.message);
        });
    }
  }
};
</script>

<style scoped lang="scss">
.user-card{
  margin-bottom:10px;
}
</style>
