<template>
  <div id="app">
    <Registration v-if="page == 'registration'"/>
    <Userlist v-if="page == 'userlist'"/>
    <a v-if="page == 'registration'" href="#" v-on:click="switchPage('userlist')">Userlist</a>
    <a v-if="page == 'userlist'" href="#" v-on:click="switchPage('registration')">Registration</a>
  </div>
</template>

<script>
import Registration from './components/Registration.vue';
import Userlist from './components/Userlist.vue';
import { store } from './store';

export default {
  name: 'app',
  components: {
    Registration,
    Userlist,
  },
  data: function(){
    return {
      page: "registration"
    }
  },
  methods: {
    switchPage: function(page){
      this.$store.commit('nav', page);
      this.page = this.$store.getters.page;
    }
  },
  store,
};
</script>

<style lang="scss">
$font-stack: 'Avenir', Helvetica, Arial, sans-serif;
$primary-color: #2c3e50;
$material-rounding: 5px;
$material-shadow-1: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$material-shadow-2: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

#app {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $primary-color;
  margin-top: 60px;
}
body{
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#app > div{
  background:white;
  border-radius: 5px;
  padding: 30px 20px;
  box-shadow: $material-shadow-1;
  margin-bottom:20px;
}
</style>
